{% extends "layout.html" %}
{% set title = _('Overview') %}
{% block body %}

  <h1>AWorks在线文档</h1>

  <p>
    {{ _('欢迎！这里是AWorks在线文档系统') }}
    v{{ release|e }}{% if last_updated %}, {{ _('last updated') }} {{ last_updated|e }}{% endif %}.
  </p>

  <p>
  AWorksOS工业智能物联开发平台制定了统一的接口规范，并对各种MCU内置的功能部件与外围器件进行了高度的抽象，因此无论你选用的是ARM还是DSP，以高度复用的软件设计原则和只针对接口编程的思想为前提，则应用软件均可实现“一次编程、终生使用、跨平台”。
  </p>

  <p><strong>AWorks通用手册:</strong></p>

  <table class="contentstable"><tr>
    <td width="40%" style="padding-left:2em;">
      <p class="biglink">
        <a class="biglink" href="{{ pathto("reference/index") }}">快速上手</a><br/>
        <span class="linkdescr">AWorks开发环境简介</span>
      </p>
      <p class="biglink">
        <a class="biglink" href="https://aworks.readthedocs.io/projects/aworks-userdoc">用户手册 </a><br/>
        <span class="linkdescr">AWorks通用用户手册</span>
      </p>
      <p class="biglink">
        <a class="biglink" href="{{ pathto("components/index") }}">组件开发</a><br/>
        <span class="linkdescr">AWorks组件使用说明</span>
      </p>
    </td>
    <td width="40%" style="padding-left:2em;">
      <p class="biglink">
        <a class="biglink" href="https://aworks.readthedocs.io/projects/aworks-faq">FAQ手册</a><br/>
        <span class="linkdescr">AWorks FAQ手册</span>
      </p>
      <p class="biglink">
        <a class="biglink" href="{{ pathto("reference/index") }}">API手册</a><br/>
        <span class="linkdescr">AWorks API参考手册</span>
      </p>
      <p class="biglink">
        <a class="biglink" href="{{ pathto("disclaimer") }}">免责声明</a><br/>
        <span class="linkdescr">AWorks免责声明</span>
      </p>
    </td>
  </tr></table>
  
  <p><strong>开发平台相关文档:</strong></p>

  <table class="contentstable"><tr>
    <td width="40%" style="padding-left:2em;">
      <p class="biglink">
        <a class="biglink" href="{{ pathto("m1052/index") }}">M1052开发板快速参考</a><br/>
        <span class="linkdescr">M1052 AWorks 开发资料</span>
      </p>
      <p class="biglink">
        <a class="biglink" href="{{ pathto("m1062/index") }}">M1062开发板快速参考</a><br/>
        <span class="linkdescr">M1062 AWorks 开发资料</span>
      </p>
      <p class="biglink">
        <a class="biglink" href="{{ pathto("esp32/quickref") }}">M110开发板快速参考</a><br/>
        <span class="linkdescr">pinout for ESP32-based boards, snippets of useful code, and a tutorial</span>
      </p>
      <p class="biglink">
        <a class="biglink" href="{{ pathto("wipy/quickref") }}">M1062开发板快速参考</a><br/>
        <span class="linkdescr">pinout for the WiPy/CC3200, snippets of useful code, and a tutorial</span>
      </p>
    </td>
  </tr></table>

  <p><strong>Indices and tables:</strong></p>

  <table class="contentstable"><tr>
    <td width="40%" style="padding-left:2em;">
      <p class="biglink">
        <a class="biglink" href="{{ pathto("py-modindex") }}">Module index</a><br/>
        <span class="linkdescr">quick access to all modules</span>
      </p>
      <p class="biglink">
        <a class="biglink" href="{{ pathto("genindex") }}">Full index</a><br/>
        <span class="linkdescr">all functions, classes, constants</span>
      </p>
    </td>
    <td width="40%" style="padding-left:2em;">
      <p class="biglink">
        <a class="biglink" href="{{ pathto("appendix/glossary") }}">术语表</a><br/>
        <span class="linkdescr">与AWorks相关的词汇</span>
      </p>
      <p class="biglink">
        <a class="biglink" href="{{ pathto("index") }}">Table of contents</a><br/>
        <span class="linkdescr">a list of all sections and subsections</span>
      </p>
    </td></tr>
  </table>

  <p><strong>外部链接</strong></p>

  <table class="contentstable"><tr>
    <td width="40%" style="padding-left:2em;">
      <p class="biglink">
      <a class="biglink" href="https://www.zlg.cn/">致远电子官网</a><br/>
        <span class="linkdescr">the official MicroPython site</span>
      </p>
      <p class="biglink">
        <a class="biglink" href="https://pan.baidu.com/s/1a6EUc2JwM5eMTKNzEEsBYw">AWorks百度网盘</a><br/>
        <span class="linkdescr">community discussion for all things related to MicroPython</span>
      </p>
    </td>
    <td width="40%" style="padding-left:2em;">
      <p class="biglink">
        <a class="biglink" href="https://github.com/micropython">AWorks GitHub仓库</a><br/>
        <span class="linkdescr">contribute to the source code on GitHub</span>
      </p>
    </td>
  </tr></table>

{% endblock %}
